body {
	background-color: #f4f6f9;
}

.card {
	margin-top: 50px;
	border-radius: 12px;
}

.btn-primary {
	width: 100%;
}

.navbar {
	margin-bottom: 20px;
}

.table {
	background-color: white;
}

.dashboard-box {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 20px;
}